Q1. 변수 x에 숫자 10을 할당하고, 변수 y에 문자열 "hello"를 할당한 뒤, 두 변수를 출력하세요.

In [ ]:
x = 10
y = "hello"
print(x, y)

Q2. 숫자가 양수인지 음수인지를 판별하는 조건문을 작성하세요.

In [67]:
num = int(input("숫자를 입력하세요 : "))
if num > 0:
  print("양수입니다.")
elif num < 0:
  print("음수입니다.")
else:
  print("0입니다.")

숫자를 입력하세요 : 3
양수입니다.

Q3. 리스트 [1, 2, 3, 4, 5]의 각 요소를 출력하는 반복문을 작성하세요.

In [ ]:
num_list = [1, 2, 3, 4, 5]
for i in range(len(num_list)):
  print(num_list[i])

Q4. 두 숫자를 입력받아 더하는 함수 add를 정의하고 호출하세요.

In [ ]:
def add(num1, num2):
  result = num1 + num2
  return result

print(add(1, 2))

Q5. 문자열 "hello"에서 처음 세 문자를 슬라이싱하여 출력하세요.

In [62]:
list_hello = list("hello")

for i in range(3):
  print(list_hello[i])

s = "hello"
print(s[:3])

h
e
l
hel

Q6. 주어진 정수 리스트에서 가장 자주 등장하는 숫자(최빈값)를 찾아 반환하는 함수를 작성하세요. 만약 최빈값이 여러 개라면, 그 중 가장 작은 숫자를 반환하세요.

numbers = [1, 3, 2, 3, 4, 1, 3, 3]

In [65]:
def find_mode(numbers):
  from collections import Counter
  count = Counter(numbers)
  max_freq = max(count.values())
  frequent_numbers = [num for num, freq in count.items() if freq == max_freq]
  return min(frequent_numbers)

numbers = [1, 3, 2, 3, 4, 1, 3, 3, 1, 1, 1, 1]
print(find_mode(numbers))

1

Q7. 딕셔너리 person에서 키 "name"의 값을 출력하세요.

In [ ]:
person = {"name" : "김한결"}

print(person["name"])

Q8. 이름과 나이를 입력받아 "Hello, [name]. You are [age] years old." 형식으로 출력하세요.

In [66]:
name = input("이름 : ")
age = int(input("나이 : "))

print("Hello, [{}]. You are [{}] years old.".format(name, age))
print(f"Hello, {name}. You are {age} years old.")

이름 : 김한결
나이 : 30
Hello, [김한결]. You are [30] years old.
Hello, 김한결. You are 30 years old.

Q9. 0부터 9까지 숫자 중에서 홀수만 포함하는 리스트를 리스트 컴프리헨션을 사용하여 생성하세요.

In [70]:
num_list = []

for i in range(10):
  if i % 2:
    num_list.append(i)

print(num_list)

odds = [x for x in range(10) if x % 2 != 0]
print(odds)
# 0을 생략해도 나오더라

[1, 3, 5, 7, 9]
[1, 3, 5, 7, 9]

Q10. 숫자를 0으로 나누려 할 때 발생하는 예외를 처리하는 코드를 작성하세요.

In [71]:
num = int(input("숫자를 입력하세요 : "))
try:
  print(num/0)
except ZeroDivisionError:
  print("숫자를 0으로 나눌 수 없어요")

숫자를 입력하세요 : 0
숫자를 0으로 나눌 수 없어요