Task1_0429. input_str을 아래와 같이 단어로 분리하시오.

input_str = "Hello, World! How are you today? I am fine. Thank you!"

['hello', 'wolrd', 'how', 'are', 'you', 'today', 'i', 'am', 'fine', 'Thank', 'you', '']

In [13]:
import re

input_str = "Hello, World! How are you today? I am fine. Thank you!"

#output_str = re.findall(r'[a-z|A-Z|]+', input_str)
output_str = re.split(r'[ ,.?!]+', input_str)
tokens = list(filter(None, tokens))
print(output_str)

['Hello', 'World', 'How', 'are', 'you', 'today', 'I', 'am', 'fine', 'Thank', 'you', '']

In [ ]:
table = {'Tom' : 1234, 'Jack' : 4518, 'Eddie': 9638}
for name, phone in table.items():
  print(f'{name:5} ==> {phone:5d}')
  # :과 그 뒤 숫자는 자릿수를 뜻한다.
  # 최소 5개 문자 너비 할당. 줄맞춤 할때 사용

Tom   ==>  1234
Jack  ==>  4518
Eddie ==>  9638

In [ ]:
# 소수점 n번째 자리까지만 표현

y = 3.42134234
f'{y:0.3f}'

'3.421'

In [ ]:
# 소수점 4자리까지 표현하고 총 자리수를 10으로 맞춤
y = 3.42134234
f'{y:10.4f}'

'    3.4213'

In [ ]:
# Q. num1=12345, num2=12.345679 를 아래와 같이 출력하세요
# 12345
#      12345
# 12.345679
#           12.346

num1 = 12345
num2 = 12.345679

print(f'{num1}')
print(f'{num1:10}')
print(f'{num2}')
print(f'{num2:16.3f}')

12345
     12345
12.345679
          12.346

Task2_0429. 십진수 122를 2진수, 8진수, 16진수로 변경하여 출력하세요.

In [15]:
n = 122

# 2진수
print(0b1111010)
binary_number = bin(n)
# 8진수
print(0o172)
octal_number = oct(n)
# 16진수
print(0x7A)
hexadecimal_number = hex(n)

print(binary_number, octal_number, hexadecimal_number)

122
122
122
0b1111010 0o172 0x7a

Task3_0429. 두 수의 곱셈 결과를 계산하고, 그 결과에 10을 더하세요.

In [17]:
a = 10
b = 20

res = a * b + 10
res

210

Task4_0429. 주어진 리스트에서 두 번째 요소를 삭제하고, 마지막에 새로운 요소 'Python'을 추가하세요.

리스트: ['Java', 'C', 'JavaScript']

In [ ]:
list1 = ['Java', 'C', 'JavaScript']

del list1[1]
# list1.pop(1)
list1.append('Python')

list1

['Java', 'JavaScript', 'Python']

Task5_0429. 주어진 문자열에서 처음 세 글자와 마지막 세 글자를 연결하여 새로운 문자열을 만드세요.

문자열: 'Incredible'

In [ ]:
string = 'Incredible'

new_str = string[:3]+string[-3:]

new_str

'Incble'

Task6_0429. 사용자의 이름과 이메일을 딕셔너리로 저장하고, 이름을 입력받아 해당하는 이메일을 출력하세요.

사용자 정보: 이름 - 'Alice', 이메일 - 'alice@example.com'

In [ ]:
dict1 = {'Alice' : 'alice@example.com'}

input_name = input('이름을 입력하세요 : ')

if not input_name:
  print('ZeroDivisionError')
else:
  if input_name in dict1:
    print(dict1[input_name])
  else:
    print('해당 이름이 존재하지 않습니다.')

이름을 입력하세요 : Alice
alice@example.com

Task7_0429. 주어진 두 튜플에서 공통 요소만을 찾아 집합으로 만드세요.

튜플: (1, 2, 3, 4, 5)와 (4, 5, 6, 7, 8)

In [ ]:
tu1 = (1, 2, 3, 4, 5)
tu2 = (4, 5, 6, 7, 8)

set1 = set(tu1+tu2)
# set1 = set(tu1) & set(tu2)

set1

{1, 2, 3, 4, 5, 6, 7, 8}

Task8_Challenge_0429. 다음 요구 사항을 충족하는 프로그램을 작성하세요:

- 사용자로부터 이름, 나이, 좋아하는 색상을 입력받습니다.
- 입력받은 정보를 딕셔너리로 저장하고, 모든 사용자 정보를 리스트에 저장합니다.
- 이름이 'John'인 사용자의 정보만 출력하세요.
- 전체 사용자의 평균 나이를 계산하고 출력하세요.

1. 사용자 데이터:
- 이름: John
- 나이: 28
- 좋아하는 색상: Blue
2. 사용자 데이터:
- 이름: Alice
- 나이: 24
- 좋아하는 색상: Red
3. 사용자 데이터:
- 이름: Maria
- 나이: 32
- 좋아하는 색상: Green

In [35]:
import statistics

user_dict = [{'name':'John', 'age': 28, 'color': 'Blue'}, {'name':'Alice', 'age': 24, 'color': 'Red'}, {'name':'Maria', 'age': 32, 'color': 'Green'}]

def check_new_user(v):
  value = input(f"{v} : ")

  if value:
    return value
  else:
    print(f"{v}를 입력하지 않았습니다.")
    return None

new_user = {}
new_user['name'] = check_new_user('이름')
new_user['age'] = int(check_new_user('나이'))
new_user['color'] = check_new_user('좋아하는 색상')

# append()를 사용하여 리스트 안에 해시를 추가할 수 있다.
user_dict.append(new_user)

total_age = 0
for user in user_dict:
  total_age += user['age']

  if user['name'] == 'John':
    for key in user:
      print(f"{key} : {user[key]}")

avg_age = total_age / len(user_dict)
print(f"사용자 나이 평균 : {avg_age:.2f}")

이름 : hang
나이 : 48
좋아하는 색상 : blue
28
name : John
age : 28
color : Blue
24
32
48
사용자 나이 평균 : 33.00

In [33]:
users = []
for _ in range(3):
  name = input("이름 : ")
  age = int(input("나이 : "))
  color = input("좋아하는 색 : ")

  user_info = {'name':name, 'age':age, 'color':color}
  users.append(user_info)

for user in users:
  if user['name'] == 'John':
    print(f'John\'s info: {user}')

total_age = sum(user['age'] for user in users)
avg_age = total_age / len(users)

print(f'{avg_age:.2f}')

John
38
blue
Alice
24
red
mra
40
blue
John's info: {'name': 'John', 'age': 38, 'color': 'blue'}
34.00