Task1_0507. 튜플 형태인 strings를 다양한 문자가 포함된 순서로 정렬하세요.
strings = ('a', 'ca', 'bar', 'aaaa', 'ababa')

In [2]:
strings = ('a', 'ca', 'bar', 'aaaa', 'ababa')

# set으로 중복 제거 후 len으로 길이를 찾아서 len(x)를 기준으로 정렬


#[['a'], ['c', 'a'], ['r', 'b', 'a'], ['a'], ['b', 'a']]

sorted_list1 = sorted(strings, key=lambda x: (len(set(x)), len(x)), reverse=True)
sorted_list2 = sorted(strings, key=lambda x: (-len(set(x)), -len(x))) # 키값에 -를 붙이면 reverse=True와 같은 의미를 가진다.

#f = sorted(e, key = lambda x : (x[0], -x[1]))
print(sorted_list1)
print(sorted_list2)

strings = list(strings)
strings.sort(key=lambda x: (len(set(x)), len(x)), reverse=True)
print(strings)

['bar', 'ababa', 'ca', 'aaaa', 'a']
['bar', 'ababa', 'ca', 'aaaa', 'a']
['bar', 'ababa', 'ca', 'aaaa', 'a']

Task2_0507. a,b 변수와 연산자를 입력하면 사칙연산을 수행하는 코드를 작성하세요.(eval 사용하는 경우와 안하는 경우)

In [4]:
num = '5*5'
maths = ['+', '-', '/', '*']
math = {'+':lambda a,b:a+b, '-':lambda a,b:a-b, '/':lambda a,b:a/b, '*':lambda a,b:a*b,}

num_list = list(num)
for i in num_list:
  if i in maths:
    num = num.split(i)
    print(math[i](int(num[0]), int(num[1])))

25

In [38]:
a = 10
b = 20

res = eval(input('수식을 입력하세요 : ex(a+b | a-b)\n'))
print(res)

s = 'a+b'

if s[1] == '+':
  print(f'{a} {s[1]} {b} = {a + b}')
elif s[1] == '-':
  print(f'{a} {s[1]} {b} = {a - b}')
elif s[1] == '/':
  print(f'{a} {s[1]} {b} = {a / b}')
elif s[1] == '//':
  print(f'{a} {s[1]} {b} = {a // b}')
elif s[1] == '*':
  print(f'{a} {s[1]} {b} = {a * b}')
else:
  print('사칙연산을 입력해주세요')

10 + 20 = 30

In [11]:
string = '5+5'
print(eval(string))

expression = input("계산할 수식을 입력하세요 : ")
result = eval(expression)
print(f"계산 결과 : {result}")

data = [1, 2, 3, 4, 5]
operation = input('실행할 리스트 연산을 입력하세요: ') # 예) data.append(6), data.pop()
result = eval(operation)
print(data)

연산을 입력하세요 : 5*5
25
10

Task3_0507. list1에 대해서 아래와 같이 출력하는 코드를 작성하세요.

인사평가 1번째 해당자는 김부장입니다. 회의실A로 오시기 바랍니다.\
인사평가 2번째 해당자는 이차장입니다. 회의실A로 오시기 바랍니다.\
인사평가 3번째 해당자는 김과장입니다. 회의실A로 오시기 바랍니다.\
인사평가 4번째 해당자는 이대리입니다. 회의실A로 오시기 바랍니다.\
인사평가 5번째 해당자는 오사원입니다. 회의실A로 오시기 바랍니다.\
인사평가 6번째 해당자는 김인턴입니다. 회의실A로 오시기 바랍니다.

In [21]:
list1 = ['김부장', '이차장', '김과장', '이대리', '오사원', '김인턴']

for i, j in enumerate(list1):
  print(f'인사평가 {i+1}번째 해당자는 {j}입니다. 회의실 A로 오시기 바랍니다.')

인사평가 0번째 해당자는 김부장입니다. 회의실 A로 오시기 바랍니다.
인사평가 1번째 해당자는 이차장입니다. 회의실 A로 오시기 바랍니다.
인사평가 2번째 해당자는 김과장입니다. 회의실 A로 오시기 바랍니다.
인사평가 3번째 해당자는 이대리입니다. 회의실 A로 오시기 바랍니다.
인사평가 4번째 해당자는 오사원입니다. 회의실 A로 오시기 바랍니다.
인사평가 5번째 해당자는 김인턴입니다. 회의실 A로 오시기 바랍니다.

Task4_0507. 주어진 문자열 리스트의 요소들을 대문자로 변환하세요.
words = ["hello", "world", "python", "map"]

In [24]:
words = ["hello", "world", "python", "map"]

upper_words = [i.upper() for i in words]
print(upper_words)

['HELLO', 'WORLD', 'PYTHON', 'MAP']

In [ ]:
print(type(str))
# class 'type'

print(type(str.upper))
# class 'method_descriptor'

Task5_0507. 주어진 리스트에서 'p'로 시작하는 단어만 필터링하세요.

words = ["python", "is", "powerful", "programming", "language", "pandas"]

In [9]:
words = ["python", "is", "powerful", "programming", "language", "pandas"]

filter_words = list(filter(lambda x: x[0] == 'p', words))
filter_words = list(filter(lambda x: x.startswith('p'), words))
print(filter_words)

upper_words = list(map(str.upper, words))
print(upper_words)

print([i for i in words if i.startswith('p')])

['python', 'powerful', 'programming', 'pandas']
['PYTHON', 'IS', 'POWERFUL', 'PROGRAMMING', 'LANGUAGE', 'PANDAS']
['python', 'powerful', 'programming', 'pandas']

Task6_0507. 내장함수를 이용해서 list = [0,1,2,3,4,5,6]에서 2를 삭제 후 출력하세요.(2가지 방법)

In [29]:
list1 = [0,1,2,3,4,5,6]
list1.pop(2) # 인덱스

list1 = [0,1,2,3,4,5,6]
list1.remove(2) # 값
print(list1)

# del은 키워드

[0, 1, 3, 4, 5, 6]

Task7_0507. 내장함수를 이용하여 동일한 개수로 이루어진 자료형을 화살표 좌측에서 우측으로 변환하세요.

[1,2,3],[4,5,6] -> [(1,4),(2,5),(3,6)]\
[1,2,3],[4,5,6] [7,8,9] -> [(1,4,7),(2,5,8),(3,6,9)]\
('abc','def') -> [('a','d'),('b','e'),('c','f')]

In [10]:
#[1,2,3],[4,5,6] -> [(1,4),(2,5),(3,6)]\
#[1,2,3],[4,5,6] [7,8,9] -> [(1,4,7),(2,5,8),(3,6,9)]\
#('abc','def') -> [('a','d'),('b','e'),('c','f')]
a = [1,2,3]
b = [4,5,6]
c = [7,8,9]
d = ('abc','def')

print(list(zip(a, b)))
print(list(zip(a, b, c)))
print(list(zip(d[0], d[1])))

[(1, 4), (2, 5), (3, 6)]
[(1, 4, 7), (2, 5, 8), (3, 6, 9)]
[('a', 'd'), ('b', 'e'), ('c', 'f')]

Task8_0507. url에서 호스트 도메인(news.naver.com)을 추출하여 출력하세요.

url = 'http://news.naver.com/main/read.nhn?mode=LSD&mid=shm&sid1=105&oid=028&aid=0002334601'

In [11]:
url = 'http://news.naver.com/main/read.nhn?mode=LSD&mid=shm&sid1=105&oid=028&aid=0002334601'

import re

# [^//][^/]에서 []와 그 안의 ^는 //를 매칭하여 찾지만 그건 빼고 반환하라는 뜻
m = re.search('[^//](\w+.\w+.\w+)[^/]', url)
print(m.group())

print(url[7:21])

print(url.split('/')[2])

news.naver.com
news.naver.com
news.naver.com

In [14]:
print(range(10), type(range(10)))
print(type([i for i in range(10)]))
print(list(range(10)))

range(0, 10) <class 'range'>
<class 'list'>
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [15]:
# 몫과 나머지
print(divmod(7,3))

(2, 1)

In [19]:
# Q. 내장함수를 이용해서 list = [0, 1, 2, 3, 4, 5, 6]에서 모든원소를 삭제 후 출력하세요

list1 = [0, 1, 2, 3, 4, 5, 6]

list1.clear()

print(list1)

[]

In [26]:
# Q. 150분을 시간과 분으로 변환해서 출력하세요.

minutes = 150

hour, minute = divmod(minutes, 60)
print(f'{hour}시간 {minute}분')

# 기본적으로 튜플 형태의 반환이나, 각각의 변수에 할당도 가능하다

2시간 30분