Task1_0510. try ~ except, try ~ except ~ finally, try ~ except ~else, try ~ except ~else ~finally 4가지 예외 처리가 필요한 경우에 대해서 코딩을 수행하세요.

In [ ]:
user_input = input('정수입력 : ')
my_list = [1,2,3]

try:
  int(user_input)
except ValueError as e:
  print(f"An error occurred: {e}")
finally:
  print(f'{user_input}')

try:
  print(my_list[3])
except IndexError as e:
  print(f'An error occurred: {e}')

try:
  print(my_list[3])
except IndexError as e:
  print(f'An error occurred: {e}')
else:
  print(my_list[-1])

try:
  int(user_input)
except ValueError as e:
  print(f"An error occurred: {e}")
else:
  print(f'{user_input}는 정수입니다!')
finally:
  print(f'{user_input}')

Task2_0510. 리스트 ['52','273','32','문자','103']에서 숫자 부분만 출력하세요(예외 처리 수행)

In [ ]:
my_list = ['52','273','32','문자','103']

for i in my_list:
  try:
    print(int(i), end =' ')
  except ValueError as e:
    pass

52 273 32 103

Task3_0510. 두가지 시나리오를 예외처리를 하여 코드 작업을 수행하세요
- 정수를 입력하면 > '예외 발생하지 않음' > '프로그램 종료'
- 정수를 입력하지 않으면 > '정수 아님' > '프로그램 종료'

In [ ]:
while True:
  try:
    input = int(input('정수를 입력해주세요 : '))
  except ValueError as e:
    print('정수아님')
    break
  else:
    print('예외 발생하지 않음')
    break

정수를 입력해주세요 : 2
예외 발생하지 않음

Task4_0510. 생성자만으로 구성된 클래스를 작성하고 객체 3개를 만들어서 결과를 출력하세요.

In [ ]:
class myClass1:
  def __init__(self, name, age, height):
    self.name = name
    self.age = age
    self.height = height

    print(f'{name}은 {age}살이고 {height}cm 입니다.')

obj1 = myClass1('홍길동', 26, 174)
obj2 = myClass1('홍길순', 30, 101)
obj3 = myClass1('홍장군', 23, 182)

홍길동
23
174

Task5_0510. 생성자, 메소드를 모두 포함하는 클래스를 작성하고 객체 3개를 만들어서 결과를 출력하세요

In [ ]:
class myClass1:
  def __init__(self, name, age, height):
    self.name = name
    self.age = age
    self.height = height

  def __str__(self):
    return f"{self.name}은(는) {self.age}세 입니다"

  def user_info(self):
    print(f'{self.name}은 {self.age}살이고 {self.height}cm 입니다.')

user1 = myClass1('김한결', 30, 170)
user2 = myClass1('김실로', 25, 180)
user3 = myClass1('김제희', 21, 170)

user1.user_info()
user2.user_info()
user3.user_info()
user3.__str__()

김한결은 30살이고 170cm 입니다.
김실로은 25살이고 180cm 입니다.
김제희은 21살이고 170cm 입니다.

'김제희은(는) 21세 입니다'

Task6_0510. 여러개의 음식을 주문할 수 있는 주문 시스템을 작성하세요.(클래스 활용 - 객체 지향)

In [1]:
class Menu():
  def __init__(self):
    self.menu = {1: {'name' : '불고기비빔밥', 'price' : 12000},
                 2: {'name' : '야채비빔밥', 'price' : 8000},
                 3: {'name' : '전주비빔밥', 'price': 10000}}

  def show_menu(self):
    print("\nKITA 식당에 오신 것을 환영합니다")
    print("\n" + "=" * 40)
    print("\n          - 메  뉴 -")
    print("    1. 불고기 비빔밥 : 12,000원")
    print("    2. 야채 비빔밥 : 8,000원")
    print("    3. 전주 비빔밥 : 10,000원")
    print("\n    세트 주문시 : 3,000원 추가")
    print("    (세트는 밥과 반찬이 추가됩니다.)")
    print("\n" + "=" * 40)

  def choice_menu(self):
    while True:
      try:
        fnum = next((i for i in [int(input('메뉴 번호를 입력해주세요 : '))] if i in (1, 2, 3)))
      except:
        print('잘못 입력하셨습니다. 다시 입력해주세요')
        continue

      is_set  = next((True for i in [input('세트 주문을 하시겠습니까? (Y|N) : ').upper()] if i == 'Y'), False)

      self.fnum = fnum
      self.is_set = is_set
      break

class Order(Menu):
  def __init__(self):
    super().__init__()
    super().choice_menu()
    fnum = self.fnum
    is_set = self.is_set

    food = self.menu[fnum]
    self.name = food['name']
    self.price = food['price']

    if is_set:
      self.name = self.name + '(세트)'
      self.price += 3000

class OrderBasket():
  def __init__(self):
    self.orders = {}
    self.total_price = 0
  def add_order(self, order):
    name = order.name
    if name in self.orders:
      self.orders[name] += 1
    else:
      self.orders[name] = 1

    self.total_price += order.price

class Kiosk:

  def kiosk_start(self):
    menu = Menu()
    menu.show_menu()
    order = Order()

    basket = OrderBasket()
    basket.add_order(order)

    while True:
      is_re_order  = lambda: True if input('추가로 주문 하시겠습니까? (Y|N) : ').upper() == 'Y' else False
      if is_re_order():
        order = Order()
        basket.add_order(order)
        continue
      else:
        print('주문이 완료되었습니다')
        break

    print('주문하신 메뉴는', end=' ')
    for name, count in basket.orders.items():
      print(f'{name} {count}개', end=', ')
    print(f'총 금액 {basket.total_price}원 입니다.')

if __name__ == '__main__':
  k = Kiosk()
  k.kiosk_start()

KITA 식당에 오신 것을 환영합니다

========================================

          - 메  뉴 -
    1. 불고기 비빔밥 : 12,000원
    2. 야채 비빔밥 : 8,000원
    3. 전주 비빔밥 : 10,000원

    세트 주문시 : 3,000원 추가
    (세트는 밥과 반찬이 추가됩니다.)

========================================
메뉴 번호를 입력해주세요 : 1
세트 주문을 하시겠습니까? (Y|N) : N
추가로 주문 하시겠습니까? (Y|N) : N
주문이 완료되었습니다
주문하신 메뉴는 불고기비빔밥 1개, 총 금액 12000원 입니다.