제어문(control statement)은 프로그램의 흐름을 제어하는데 사용

#### 조건문 (Conditional Statements):
- if: 특정 조건이 참(True)일 때 코드 블록을 실행
    - 조건은 비교 연산자(==, !=, <, >, <=, >=)와 논리 연산자(and, or, not)를 사용하여 표현할 수 있다
- elif: 이전의 if 또는 elif 조건이 거짓(False)일 때 다른 조건을 검사
    - elif는 'else if'의 축약형으로, 이전 if 또는 elif 문의 조건이 거짓(False)일 때 다른 조건을 검사
    - 여러 elif 문을 사용하여 다양한 조건을 검사할 수 있다
- else:
    - 이전의 if 또는 elif 문의 조건이 모두 거짓일 때 실행할 코드 블록을 지정

In [ ]:
x = 10
if x > 5:
  print("크다")
elif x == 5:
  print("같다")
else:
  print("작다")

크다

In [ ]:
# 각 조건이 서로 독립적일 때 if문을 연속해서 사용

x = 10
y = 5

if x > 5:
  print("x는 5보다 큽니다.")

if x < 10:
  print("x는 10보다 작습니다.")

if x  y:
  print("x는 y보다 큽니다.")

In [ ]:
x = 10
y = 5

if x > 5:
  if y >= 3:
    print('x는 5보다 크고 y는 3보다 크거나 같습니다.')
  else:
    print('x는5보다 크고 y는 3보다 작습니다.')
else:
  print('x는 5보다 작거나 같습니다.')

In [ ]:
# Q. 이중 조건문을 사용하여 코드를 작성하세요. if문 elif else 중첩하여 사용

name = '김한결'
age = 30
se = 'female'
height = 170

if name == '김한결':
  print(f'이름은 {name}입니다.')

  if age == 30:
    print(f'나이는 {age}세 입니다.')
  elif age > 30:
    print(f'나이는 {age} 보다 많습니다.')
  elif age < 30:
    print(f'나이는 {age} 보다 적습니다.')
  else:
    print('나이를 모르겠네요')

  if se == 'female':
    print('성별은 여자입니다.')
  else:
    print('성별은 남자입니다.')

  if height >= 170:
    print(f'키가 {height}이거나, 그보다 큽니다.')
  elif height < 170:
    print(f'키가 {height}보다 작습니다.')
else:
  print(f'이름은 {name}이 아닙니다.')

이름은 김한결입니다.
나이는 30세 입니다.
성별은 여자입니다.
키가 170이거나, 그보다 큽니다.

In [ ]:
# Q. listdata = ['a', 'b', 'c']에서 조건문을 이용해 아래와 같이 출력하세요.

# a가 listdata에 있습니다.
# b가 listdata에 있습니다.
# c가 listdata에 있습니다.

listdata = ['a', 'b', 'c']

for i in listdata:
  if i in listdata:
    print(f'{i}가 listdata에 있습니다.')

a가 listdata에 있습니다.
b가 listdata에 있습니다.
c가 listdata에 있습니다.

In [ ]:
# next()는 리스트 컴프리핸션에서 생성된 iterator에서 첫번째 요소를 반환
# 조건을 만족하는 요소가 없다면 StopIteration을 반환하기 때문에
# 두번째 인자로 기본값을 지정할 수 있다.

listdata = ['a', 'b', 'c']

new_str = next(i for i in listdata if i == 'a')
# new_str = next(i for i in listdata if i == 'a', 'a가 없습니다.')

new_str

'a'

In [ ]:
# Q. "주머니에 돈이 10,000원 이상 있으면 택시를 타고, 없으면 걸어 간다"를 만족하는 조건문을 완성하시오.

money = int(input('주머니 돈 : '))

if money >= 10000:
  print('택시를 타자!')
else:
  print('돈도 없는데 걸어가자!')

In [ ]:
# Q. 조건부 표현식을 한줄의 조건문으로 작성하세요.

score = 70
if score >= 60:
  message = "success"
else:
  message = "failure"

print(message)

##########################

"success" if score >= 60 else "failure"
["success" if score >= 60 else "failure"]

success

'success'

In [ ]:
# Q. "수입과 지출 금액을 비교해서 수입이 많으면 저축 증가, 반대이면 빚이 증가" 프로그램 작성

income = int(input("수입 : "))
spend  = int(input("지출 : "))

if income > spend:
  print('수입 증가')
elif income < spend:
  print('저축 증가')
else:
  print('현상유지')

수입 : 10
지출 : 10
현상유지

#### 반복문 (Loop Statements):
- for: 시퀀스(리스트, 튜플, 문자열 등)의 아이템을 순회하면서 코드 블록을 실행
- while: 특정 조건이 참인 동안 코드 블록을 반복하여 실행

In [ ]:
for i in range(10):
  print(i, end=' ')
print('\n')

count = 0
while count < 5:
  print(count, end=' ')
  count += 1

0 1 2 3 4 5 6 7 8 9

0 1 2 3 4

In [ ]:
# 리스트를 순회하는 예
for i in [1, 2, 3, 4, 5]:
  print(i, end=' ')
print('\n')

# 문자열을 순회하는 예
for char in "hello":
  print(char, end=' ')

In [ ]:
# while 루프는 주어진 조건이 참(True)인 동안 코드 블록을 반복
# 조건이 거짓(False)이 되면 루프가 종료

count = 0
sum = 0
while count < 5:
  sum += count
  print(sum, end=' ')
  count += 1 # count를 1 증가 시킵니다.

# 무한으로 돌 때는 조건문을 추가해 break를 줘야한다.

0 1 3 6 10

In [ ]:
# Q. d에서 반복문을 사용하여 97, 98, 99를 출력하세요.

d = {'a':97, 'b':98, 'c':99}

for i in d.keys():
  print(d[i], end=' ')

97 98 99

In [ ]:
# zip() 함수
numbers = [1, 2, 3]
letters = ["A", "B", "C"]

#for pair in zip(numbers, letters):
#  print(pair)

print(dict(zip(numbers, letters)))

{1: 'A', 2: 'B', 3: 'C'}

dict_values 클래스의 이해:
- 클래스 정의: 파이썬에서 클래스는 객체를 생성하는 데 사용되는 템플릿. dict_values는 딕셔너리의 값을 보여주는 뷰 객체를 생성하는 특별한 내장 클래스.
- 뷰 객체: dict_values 객체는 딕셔너리의 값에 대한 동적인 뷰를 제공. "뷰(view)"란 원본 딕셔너리 객체의 값이 변하면 그 변화가 dict_values 객체에도 반영되는, 원본 데이터의 실시간 반영본을 의미. 이는 딕셔너리의 값들이 수정, 추가, 삭제될 때 dict_values 객체가 자동으로 업데이트된다는 의미.
- 객체 인스턴스: dict_values 객체는 dict_values 클래스의 인스턴스. 이 클래스는 파이썬의 다른 모든 클래스처럼 특정 데이터 구조와 메서드를 가진다. 예를 들어, dict_values 객체는 순회 가능하며 (iterable), 딕셔너리의 모든 값을 순차적으로 접근할 수 있는 메서드를 제공.

In [ ]:
d = {'a':97, 'b':98, 'c':99}

d['b'] = 100
print(d)
print(d.values())

{'a': 97, 'b': 100, 'c': 99}
dict_values([97, 100, 99])

#### 제어문 관련 키워드:
- break: 현재의 반복문을 중단하고, 반복문 바깥의 코드를 실행
- continue: 반복문의 나머지 부분을 건너뛰고, 다음 반복을 시작

In [ ]:
for i in range(5):
  if i == 3:
    break
  print(i, end = ' ')
print('\n')

for i in range(5):
  if i == 3:
    continue
  print(i, end = ' ')

0 1 2

0 1 2 4

In [ ]:
for i in range(10):
  if i == 5:
    break
  print(i, end = ' ')
print('\n')

for i in range(10):
  if i % 2 == 0: # i가 짝수일 때 건너 뛰고 다음을 반복
    continue
  print(i, end = ' ')

In [ ]:
# for 또는 while 루프에 else 절을 사용하면, 루프가 정상적으로 완료된 후에 실행할 코드를 지정

for i in range(5):
  print(i, end = ' ')
else:
  print("루프가 완료되었습니다\n")

count = 0
while count < 5:
  print(count, end = ' ')
  count += 1
else:
  print("루프가 완료되었습니다\n")

0 1 2 3 4 루프가 완료되었습니다

0 1 2 3 4 루프가 완료되었습니다

In [ ]:
# break 문을 사용하여 루프를 중단하면 else 절은 실행되지 않음

for i in range(5):
  if i == 3:
    print(f"{i}에서 루프를 중단합니다")
else:
  print("루프가 정상적으로 완료되었습니다.")

# 출력 :
# 3에서 루프를 중단합니다.

## 조건과 반복을 결합

In [ ]:
# 10 미만의 홀수만 출력
for i in range(10):
  if i % 2 == 1:
    print(i, end = ' ')

1 3 5 7 9

In [ ]:
# Q. 1~10 범위의 정수에서 1부터 5까지만 출력하세요

for i in range(10):
  if i == 5:
    break
  print(i+1, end = ' ')

for i in range(1, 11):
  if i > 5:
    break
  print(i, end = ' ')

1 2 3 4 5 1 2 3 4 5

In [ ]:
# Q. numbers 리스트에서 15, 20, 25를 출력하세요. (for문과 if문 사용)

numbers = [5, 15, 6, 20, 7, 25]

for i in numbers:
  if i > 5 and i % 5 == 0:
    print(i, end = ' ')

15 20 25

In [ ]:
# 특정 조건을 만족할 때까지 반복

count = 0
while 1:
  count += 1
  if count > 5:
    break
  print(count)
print('루프 종료')

In [ ]:
# Q. 리스트에서 특정값 찾기

numbers = [1, 2, 3, 4, 5]
target = 3

for i in numbers:
  if i == target:
    print(i, end = ' ')
    break
else:
  print('찾지 못했습니다.')

3

In [ ]:
# Q. 1 ~ 20 사이의 정수에서 10보다 작은 홀수만 출력

for num in range(1, 21):
  if num < 10 and num % 2 == 1:
    print(num, end = ' ')
  elif num > 10:
    print('끝')
    break

a = 0
while a < 20:
  a += 1

  if a % 2 == 0:
    continue
  if a >= 10:
    break
  print(a, end = ' ')

1 3 5 7 9 끝
1 3 5 7 9

In [ ]:
# Q. 정수 1부터 n까지 더할 때 그 합이 1000보다 커지게 되는 n과 합을 구하세요 (while~break)

num = 1
total_num = 0
while 1:
  total_num += num

  if total_num > 1000:
    print(f'합계 : {total_num} / num : {num}')
    break
  else:
    num += 1

num = 0
total_num = 0
while total_num <= 1000:
  num += 1
  total_num += num

print(f'합계 : {total_num} / num : {num}')

합계 : 1035 / num : 45
합계 : 1035 / num : 45

In [ ]:
# Q. while문을 사용해 1부터 1000까지의 정수 중 3의 배수의 합을 구해보세요.

num = 1
total = 0
while num <= 1000:
  if num % 3 == 0:
    total += num
  num += 1

print(total)

166833

In [ ]:
num = 3
total = 0

while num <= 1000:
  total += num
  num += 3

print(total)

166833

In [ ]:
# Q. 정수를 입력하면 홀수 짝수를 판별하는 프로그램

In [ ]:
num = int(input("정수 : "))

if num == 0:
  print("0")
elif num % 2 != 0:
  print("홀수")
else:
  print("짝수")

정수 : 1
홀수

In [ ]:
while True:
  try:
    number = int(input('정수 입력 : '))

    if number % 2 == 1:
      print(f'입력한 숫자 {number}는 홀수 입니다.')
    else:
      print(f'입력한 숫자 {number}는 짝수입니다.')
    break
  except ValueError:
    print("정수가 아닌 값이 입력되었어요. 정수를 입력하세요")

정수 입력 : 2.4
정수가 아닌 값이 입력되었어요. 정수를 입력하세요
정수 입력 : 1
입력한 숫자 1는 홀수 입니다.

In [ ]:
# Q. 입력받은 문자열의 각 문자를 그 다음 문자로 변경하여 출력하세요(ABC->BCA)

string = input("문자열을 입력하세요:")
#string = 'ABC'

string[1:]+string[:1]

문자열을 입력하세요:ABC

'BCA'

In [ ]:
data = input('문자열을 입력하세요 : ')
for i in range(len(data)):
  if i == 0:
    continue
  print(data[i], end = ' ')

else:
  print(data[0])

문자열을 입력하세요 : CDE
D E C

zip() 함수
- 여러 개의 이터러블(리스트, 튜플 등)을 인자로 받아, 동일한 인덱스에 있는 요소들을 하나의 튜플로 묶어서 이터레이터를 반환
- 데이터를 병렬로 처리할 때 유용

In [ ]:
list1 = [1,2,3,4]
list2 = ['a', 'b', 'c', 'd']
zipped = zip(list1, list2)
print(list(zipped))

[(1, 'a'), (2, 'b'), (3, 'c'), (4, 'd')]

In [ ]:
# Q. 두 개의 리스트(이름과 성)를 사용하여 각 사람의 전체 이름을 생성하세요.

first_names = ['John', 'Jane', 'Corey', 'Travis']
last_names = ['Doe', 'Smith', 'Turner', 'Williams']

print( [ first + '' + last for first, last in zip(first_names, last_names)] )

['JohnDoe', 'JaneSmith', 'CoreyTurner', 'TravisWilliams']

In [ ]:
# Q. 학생들의 수학과 영어 점수를 각각의 리스트로 받아 평균 점수를 계산하세요.

math_scores = [88, 92, 79, 93, 85]
english_scores = [90, 91, 85, 88, 86]

avg_scores = [ (math + english) // 2 for math, english in zip(math_scores, english_scores) ]
avg_scores

[89, 91, 82, 90, 85]

In [ ]:
# Q. 상품 이름과 가격이 각각 다른 리스트에 저장되어 있을 때, 상품명과 가격을 튜플로 묶어 출력하세요.

products = ['apple', 'banana', 'cherry']
prices = [1.2, 0.5, 2.5]

print(tuple(zip(products, prices)))

for product, price in zip(products, prices):
  print(f'품목 : {product} / 가격 : {price}')

(('apple', 1.2), ('banana', 0.5), ('cherry', 2.5))
품목 : apple / 가격 : 1.2
품목 : banana / 가격 : 0.5
품목 : cherry / 가격 : 2.5

#### 파이썬의 random 모듈
난수를 생성하기 위한 다양한 함수를 제공
- 기본 난수 생성:
  - random.random(): 0과 1 사이의 무작위 부동소수점 숫자를 반환.
- 범위 지정 난수 생성:
  - random.randint(a, b): a와 b 사이의 무작위 정수를 반환(b 포함).
  - random.randrange(start, stop[, step]): 지정된 범위에서 무작위 정수를 반환. step을 설정하여 수의 간격을 조정할 수 있다.
- 시퀀스용 함수:
  - random.choice(sequence): 주어진 시퀀스(리스트, 튜플 등)에서 무작위로 아이템을 선택하여 반환.
  - random.shuffle(x[, random]): 리스트의 항목들을 무작위로 섞는다. random은 섞기를 위한 함수를 커스텀할 때 사용.
  - random.sample(population, k): 주어진 시퀀스에서 무작위로 k개의 항목을 뽑아 새 리스트로 반환.
- 분포 기반 난수 생성:
  - random.uniform(a, b): a와 b 사이의 무작위 부동소수점 숫자를 균등 분포로 반환.
  - random.gauss(mu, sigma): 평균 mu와 표준편차 sigma를 가지는 정규 분포에서 난수를 반환.

In [ ]:
import random

# 0과 1사이의 난수 생성
print(random.random())
# 1에서 10 사이의 정수 반환(10 포함)
print(random.randint(1, 10))
# 리스트에서 무작위로 하나의 원소 선택
items = [1, 2, 3, 4, 5]
print(random.choice(items))
# 리스트의 원소를 무작위로 섞기
random.shuffle(items)
print(items)
# 정규 분포 난수 생성
mean = 0
std_dev = 1
print(random.gauss(mean, std_dev))

0.6097574619717392
10
5
[1, 2, 3, 5, 4]
1.7787002978447661

In [ ]:
from random import shuffle # 랜덤 모듈에서 셔플 메소드만 가져옴

male = ['철수', '갑돌', '로미오', '이몽룡', '온돌']
shuffle(male)
male

['이몽룡', '갑돌', '철수', '온돌', '로미오']

Task1_0430. 남녀 파트너 정해주기 프로그램(zip)

같은 수의 남녀 모임에서 파트너를 랜덤하게 정해주는 프로그램을 만들어 보세요

- zip함수는 이터레이터를 반환하고 이 이터레이터를 단 한번만 소비할 수 있다
- list()함수를 사용하여 이터레이터의 모든 원소를 한번에 소비해버리면, 그 결과는 빈 이터레이터가 되기 때문에 리스트로 다시 저장한 후 사용해야한다

In [ ]:
from random import shuffle

male = ['철수', '갑돌', '로미오', '이몽룡', '온돌']
female = ['미미', '갑순', '줄리엣', '성춘향', '평강']
shuffle(male)
shuffle(female)
#print(['커플 : ' + m + ', ' + fe for m, fe in zip(male, female) ])
couples = list(zip(male, female))
for i, couple in enumerate(couples):
  print(f"커플{i+1}: {couple[0]}, {couple[1]}")

[('로미오', '성춘향'), ('온돌', '미미'), ('철수', '줄리엣'), ('갑돌', '갑순'), ('이몽룡', '평강')]
커플1: 로미오, 성춘향
커플2: 온돌, 미미
커플3: 철수, 줄리엣
커플4: 갑돌, 갑순
커플5: 이몽룡, 평강

In [ ]:
from random import shuffle

male = ['철수', '갑돌', '로미오', '이몽룡', '온돌']
female = ['미미', '갑순', '줄리엣', '성춘향', '평강']
shuffle(male)
shuffle(female)

couples = zip(male, female)
print(list(couples)) # 이 경우 빈 이터레이터를 반환하기 때문에 밑에서 출력이 안될 수 밖에 없다
for i, couple in enumerate(couples):
  print(f"커플{i+1}: {couple[0]}, {couple[1]}")

[('갑돌', '평강'), ('이몽룡', '미미'), ('온돌', '갑순'), ('철수', '성춘향'), ('로미오', '줄리엣')]

Task2_0430. 대문자, 소문자, 숫자를 포함하는 8자리 랜덤 비밀번호를 생성하는 프로그램을 작성하세요.

In [ ]:
import random
import string

population = list(string.ascii_letters+string.digits)
k = 5

password = ''.join(random.sample(population, k))
print(password)

################################

characters = string.ascii_letters+string.digits
pwd = ''.join(random.choice(characters) for i in range(8))
print(pwd)

################################

# 반드시 소문자,대문자,숫자를 하나 이상 포함일 경우
lowercase = random.choice(string.ascii_lowercase)
uppercase = random.choice(string.ascii_uppercase)
digitscase = random.choice(string.digits)

letters = [lowercase, uppercase, digitscase]
letters.extend(pwd)
random.shuffle(letters)

random_pwd = ''.join(letters)
print(random_pwd)

['x', 'b', '5', 'U', 'G']
NrtIq
y7VZOlEN
7UxD5bvG

Task3_0430. 발표자 수를 랜덤하게 출력하는 프로그램을 작성하세요.(발표자 수 입력)

kita = ['김성현','황강민','윤호준','류윤선','이상협','박지환','최환욱','서보선','김한결','김도현','김하준',
        '김도원','신현진','소지승','이범석','이현석','이명신','박윤경','이도헌','김홍준']

In [ ]:
from random import sample

k = int(input("발표자 수 : "))

kita = ['김성현','황강민','윤호준','류윤선','이상협','박지환','최환욱','서보선','김한결','김도현','김하준', '김도원','신현진','소지승','이범석','이현석','이명신','박윤경','이도헌','김홍준']

sample(kita, k) # sample : 중복없이 요소 선택

발표자 수 : 4

['박윤경', '서보선', '이범석', '류윤선']

Task4_0430. 사용자로부터 숫자를 입력받아 해당 숫자의 구구단을 출력하는 프로그램을 작성하세요.

In [ ]:
num = int(input("구구단 몇단? "))

for n in range(1, 10):
  print(f'{num} X {n} = {num * n}')

구구단 몇단? 19
19 X 1 = 19
19 X 2 = 38
19 X 3 = 57
19 X 4 = 76
19 X 5 = 95
19 X 6 = 114
19 X 7 = 133
19 X 8 = 152
19 X 9 = 171

표현식(Expression)
- 하나 이상의 값, 변수, 연산자, 함수 호출 등을 조합하여 평가(evaluate)될 때 값을 생성하거나 반환하는 코드
- 표현식은 계산되어 값이 되는 모든 것을 의미

표현식의 예시:
- 수치 계산: 2 + 3는 5라는 값을 반환
- 문자열 조합: "Hello " + "World"는 "Hello World"라는 문자열을 생성
- 논리 연산: x > 5는 x의 값에 따라 True 또는 False를 반환
- 함수 호출: sum([1, 2, 3])은 리스트의 합인 6을 반환
- 조건식: x if x > 0 else -x는 x가 양수면 x를, 음수면 -x를 반환

In [ ]:
# 2단부터 9단까지 구구단 출력

# 세로로 할때는 * n이 기준이 되나, 횡으로 할때에는 n단 이 기준이 되면 된다.
for j in range(2, 10):
  #print('', end='\t')
  print(f'\t{j}단', end = '\t')
print()
for p in range(1, 10):
  for i in range(2, 10):
    print(f'{" "*5}{i} * {p} = {i * p}', end = '\t')
  print()

	2단		3단		4단		5단		6단		7단		8단		9단
     2 * 1 = 2	     3 * 1 = 3	     4 * 1 = 4	     5 * 1 = 5	     6 * 1 = 6	     7 * 1 = 7	     8 * 1 = 8	     9 * 1 = 9
     2 * 2 = 4	     3 * 2 = 6	     4 * 2 = 8	     5 * 2 = 10	     6 * 2 = 12	     7 * 2 = 14	     8 * 2 = 16	     9 * 2 = 18
     2 * 3 = 6	     3 * 3 = 9	     4 * 3 = 12	     5 * 3 = 15	     6 * 3 = 18	     7 * 3 = 21	     8 * 3 = 24	     9 * 3 = 27
     2 * 4 = 8	     3 * 4 = 12	     4 * 4 = 16	     5 * 4 = 20	     6 * 4 = 24	     7 * 4 = 28	     8 * 4 = 32	     9 * 4 = 36
     2 * 5 = 10	     3 * 5 = 15	     4 * 5 = 20	     5 * 5 = 25	     6 * 5 = 30	     7 * 5 = 35	     8 * 5 = 40	     9 * 5 = 45
     2 * 6 = 12	     3 * 6 = 18	     4 * 6 = 24	     5 * 6 = 30	     6 * 6 = 36	     7 * 6 = 42	     8 * 6 = 48	     9 * 6 = 54
     2 * 7 = 14	     3 * 7 = 21	     4 * 7 = 28	     5 * 7 = 35	     6 * 7 = 42	     7 * 7 = 49	     8 * 7 = 56	     9 * 7 = 63
     2 * 8 = 16	     3 * 8 = 24	     4 * 8 = 32	     5 * 8 = 40	     6 * 8 = 48	     7 * 8 = 56	     8 * 8 = 64	     9 * 8 = 72
     2 * 9 = 18	     3 * 9 = 27	     4 * 9 = 36	     5 * 9 = 45	     6 * 9 = 54	     7 * 9 = 63	     8 * 9 = 72	     9 * 9 = 81

In [ ]:
for i in range(2, 10):
  print(f"{' '*5}{i}단{' '*5}", end='\t')
print()

for i in range(2, 10):
  print('='*12, end ='\t')
print()

for p in range(1, 10):
  for i in range(2, 10):
    print(f' {i} * {p} = {i * p}', end = '\t')
  print()

     2단     	     3단     	     4단     	     5단     	     6단     	     7단     	     8단     	     9단
============	============	============	============	============	============	============	============
 2 * 1 = 2	 3 * 1 = 3	 4 * 1 = 4	 5 * 1 = 5	 6 * 1 = 6	 7 * 1 = 7	 8 * 1 = 8	 9 * 1 = 9
 2 * 2 = 4	 3 * 2 = 6	 4 * 2 = 8	 5 * 2 = 10	 6 * 2 = 12	 7 * 2 = 14	 8 * 2 = 16	 9 * 2 = 18
 2 * 3 = 6	 3 * 3 = 9	 4 * 3 = 12	 5 * 3 = 15	 6 * 3 = 18	 7 * 3 = 21	 8 * 3 = 24	 9 * 3 = 27
 2 * 4 = 8	 3 * 4 = 12	 4 * 4 = 16	 5 * 4 = 20	 6 * 4 = 24	 7 * 4 = 28	 8 * 4 = 32	 9 * 4 = 36
 2 * 5 = 10	 3 * 5 = 15	 4 * 5 = 20	 5 * 5 = 25	 6 * 5 = 30	 7 * 5 = 35	 8 * 5 = 40	 9 * 5 = 45
 2 * 6 = 12	 3 * 6 = 18	 4 * 6 = 24	 5 * 6 = 30	 6 * 6 = 36	 7 * 6 = 42	 8 * 6 = 48	 9 * 6 = 54
 2 * 7 = 14	 3 * 7 = 21	 4 * 7 = 28	 5 * 7 = 35	 6 * 7 = 42	 7 * 7 = 49	 8 * 7 = 56	 9 * 7 = 63
 2 * 8 = 16	 3 * 8 = 24	 4 * 8 = 32	 5 * 8 = 40	 6 * 8 = 48	 7 * 8 = 56	 8 * 8 = 64	 9 * 8 = 72
 2 * 9 = 18	 3 * 9 = 27	 4 * 9 = 36	 5 * 9 = 45	 6 * 9 = 54	 7 * 9 = 63	 8 * 9 = 72	 9 * 9 = 81

Task5_0430. 사용자로부터 숫자를 입력받아 해당 숫자의 팩토리얼을 계산하세요.

In [ ]:
# 팩토리얼 : 5! = 5 * 4 * 3 * 2 * 1 = 120

num = int(input("팩토리얼 숫자 : "))

total = 0
for i in range(num, 0, -1):
  total += i

print(f'= {total}')

팩토리얼 숫자 : 3
= 6

Task6_0430. 0부터 20까지의 숫자 중에서 짝수와 홀수를 분리하여 두 개의 리스트에 저장하세요.

In [ ]:
a = []
b = []

for i in range(21):
  if i % 2 == 0:
    a.append(i)
  else:
    b.append(i)

print(a)
print(b)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20]
[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

Task7_0430. 주어진 리스트에서 최대값을 찾아 출력하세요.

In [ ]:
numbers = [34, 78, 2, 45, 99, 23]

max(numbers)

99

Task8_0430.  1부터 10 사이의 임의의 숫자를 맞추는 게임을 만드세요. 사용자가 숫자를 맞출 때까지 입력을 계속 받으며, 정답을 맞추면 게임을 종료하세요.
단, 정답을 맞출 수 있는 힌트를 주어야한다.
입력 숫자가 정답보다 큰가 작은가

In [ ]:
from random import randint

res_num = randint(1, 10)

while 1:
  user_num = int(input("숫자를 입력하세요 : "))

  if user_num > res_num:
    print(f'{user_num}보다 작아야합니다')
  elif user_num < res_num:
    print(f'{user_num}보다 커야합니다')
  else:
    print(f'축하합니다! 당신의 숫자 {user_num}은 정답입니다!')
    break

숫자를 입력하세요 : 5
5보다 큽니다
숫자를 입력하세요 : 6
6보다 큽니다
숫자를 입력하세요 : 7
7보다 큽니다
숫자를 입력하세요 : 8
8보다 큽니다
숫자를 입력하세요 : 9
9보다 큽니다
숫자를 입력하세요 : 10
축하합니다! 당신의 숫자 10은 정답입니다!

Task9_0430. 태어난 연도를 입력받아 띠를 출력하는 프로그램을 작성하세요.

In [ ]:
animals = ['원숭이', '닭', '개', '돼지', '쥐', '소', '호랑이', '토끼', '용', '뱀', '말', '양']

year = int(input('태어난 연도 : '))

def get_animals_from_year(year):
  return animals[year%12]

#zodiac_index = (year - 1924) % 12
# 1924를 넣는 이유는 쥐띠에 해당하는 해를 빼줘야하기 떄문
#zodiac = animals[zodiac_index]

print(get_animals_from_year(year)+'띠')

태어난 연도 : 2024
용띠

Task10_0430. 아래 사항을 반영하여 커피 자판기 프로그램을 작성하세요.
- 시나리오 : 자판기 커피 재고 5잔, 커피 1잔 가격 300원, 재고 범위내에서 300원 이상 돈을 넣으면 거스름돈과 커피를 주고 그렇지 않으면 반환하며 재고가 소진되면 안내멘트 출력
- 각 Case별 멘트 출력은 상황에 맞게 창작
- while, if ~ elif ~ else 제어문을 사용하여 작성

In [ ]:
coffee = 5
price = 300
money = int(input("돈을 넣어주세요 : "))

# 돈을 넣으면 일단 커피를 한잔 뽑는다.
# 더 뽑을건지 묻는다? 입력을 받아서 처리할까?
# 더 뽑는다고하면 재고 내에서 더 뽑아준다.?
# 더 안뽑는다하면 break 거스름돈 반환
# 돈이 모자르면 break 거스름돈 반환

def coffee_machine(coffee, money):
  coffee -= 1;
  money -= 300

  print('주문하신 커피 1잔 나왔습니다.')
  return coffee, money

while 1:
  if money >= 300:
    if coffee:
      coffee, money = coffee_machine(coffee, money)
    else:
      print(f'커피 재고가 부족합니다. 거스름돈 : {money}')
      break
  elif coffee == 5 and money < 300:
    print(f'돈이 부족합니다. 거스름돈 : {money}원')
    break
  else:
    print(f'거스름돈 : {money}원')
    break

돈을 넣어주세요 : 200
돈이 부족합니다. 거스름돈 : 200원

In [ ]:
coffee = 5
while True:
  money = int(input("돈을 넣어주세요 "))
  if money == 300:
    print("커피를 추출합니다.")
    coffee -= 1
  elif money > 300:
    print("거스름돈 %d원을 반환하고 커피를 추출합니다." %(money-300))
    coffee -= 1
  else:
    print("금액이 부족하여 %d원을 반환합니다." %(money))

  if coffee == 0:
    print("커피가 다 소진되었습니다. 다음에 또 찾아주시길 바랍니다.")
    break

In [ ]:
# Q. 로또 번호 6개를 6세트 출력하는 코드를 작성하세요. (중복 없이)

from random import sample

numbers = list(range(1, 46))

for _ in range(6):
  lotto = sample(numbers, 6)
  print(lotto)

[38, 22, 9, 16, 33, 28]
[30, 19, 27, 7, 23, 37]
[28, 23, 18, 20, 2, 37]
[11, 37, 33, 24, 23, 6]
[10, 22, 4, 14, 41, 21]
[11, 44, 19, 38, 45, 26]

In [ ]:
# Q. n개 그룹으로 분류하는 코드를 작성하세요.

import random

names = ['김성현','황강민','윤호준','류윤선','이상협','박지환','최환욱','서보선','김한결',
        '김도현','김하준', '김도원','신현진','소지승','이범석','이현석','이명신','박윤경','이도헌','김홍준']

random.shuffle(names)
n = 5
g_mem = len(names) // n

group = []

for i in range(n):
  group.extend([names[:g_mem]])
  del names[:g_mem]
print(group)

In [2]:
names = ['김성현','황강민','윤호준','류윤선','이상협','박지환','최환욱','서보선','김한결',
        '김도현','김하준', '김도원','신현진','소지승','이범석','이현석','이명신','박윤경','이도헌','김홍준']

n = 5

# 5번을 루프를 돌면서 [0번, 5번, 10번, 15번],[1번, 6번, 11번, 16번], [2번, 7번, 12번, 17번] 이런식으로 담아준다.
groups = [ names[i::5] for i in range(n) ]

for num, name in enumerate(groups):
  print(num, name)

0 ['김성현', '박지환', '김하준', '이현석']
1 ['황강민', '최환욱', '김도원', '이명신']
2 ['윤호준', '서보선', '신현진', '박윤경']
3 ['류윤선', '김한결', '소지승', '이도헌']
4 ['이상협', '김도현', '이범석', '김홍준']
[['김성현', '박지환', '김하준', '이현석'], ['황강민', '최환욱', '김도원', '이명신'], ['윤호준', '서보선', '신현진', '박윤경'], ['류윤선', '김한결', '소지승', '이도헌'], ['이상협', '김도현', '이범석', '김홍준']]

In [ ]:
# Q. 1부터 100까지의 정수 중 5에서 95까지의 합을 구하세요.

total = 0
for i in range(1, 101):
  if i >=5 and i <= 95:
    total += i

print(total)

4550

In [ ]:
# Q. while문을 사용해 1부터 1000까지의 정수 중 3과 5의 공배수의 합을 구해 보세요.

num = 1
total = 0
while num < 1000:
  if num % 3 == 0 and num % 5 == 0:
    total += num
  num += 1

print(total)

33165

In [ ]:
# Q. 현재 시각을 오전과 오후로 구분하는 프로그램을 작성하세요.
import pytz
import datetime

local = pytz.timezone('Asia/Seoul')
hour = datetime.datetime.now(local).hour

if hour > 12:
  print(f"오후 {hour-12}시 입니다.")
elif hour == 12:
  print(f"오후 {hour}시 입니다.")
else:
  print(f"오전 {hour}시 입니다.")

오후 2시 입니다.

In [ ]:
# 다양한 오류 입력에 대한 해결 방안 추가 필요
import re

#time = input("현재 시간을 입력하세요\n(ex: 15시 30분 15시 15:00 15) : ")

time = '15시 30분'

hour = int(next(i for i in re.split('[시:]', time)))

if hour >= 12 and hour < 24:
  print(f'오후입니다.')
elif hour < 12 and hour >= 0:
  print(f'오전입니다.')

오후입니다.

In [ ]:
fruits = ['apple', 'banana', 'cherry', 'date']

# 해당 인덱스의 요소를 제거하고 반환
removed_fruit = fruits.pop(2)
print(removed_fruit)

# 리스트의 마지막 요소를 제거하고 반환
last_fruit = fruits.pop()
print(last_fruit)

In [ ]:
# Q. 컴퓨터와 가위바위보 하는 게임을 프로그래밍 하세요

import random
com = random.choice(list1)
you = input('가위 바위 보 : ')

list2 = {'가위':'바위', '바위':'보', '보':'가위'}

if com == you:
  print(f'너:{you}, 컴퓨터:{com} 비겼어요')
elif com == list2[you]:
  print(f'너:{you}, 컴퓨터:{com} 너가 졌어요')
else:
  print(f'너:{you}, 컴퓨터:{com} 너가 이겼어요')

가위 바위 보 : 보
너:보, 컴퓨터:가위 너가 졌어요

In [3]:
class Menu:
  def __init__(self, menu_num, price = 0):
    self.menu_num = menu_num

    if menu_num == 1:
      price = 12000
    elif menu_num == 2:
      price = 8000
    else:
      price = 10000

    self.price = price

class Order(Menu):
  def __init__(self, menu_num):
    super().__init__(menu_num)

  def set_check(self, check):
    if check == 'y':
      self.price += 3000

  def total_price(self):
    return self.price

print("KITA 식당에 오신 것을 환영합니다")
print("\n" + "=" * 40)
print("\n          - 메  뉴 -")
print("    1. 불고기 비빔밥 : 12,000원")
print("    2. 야채 비빔밥 : 8,000원")
print("    3. 전주 비빔밥 : 10,000원")
print("\n    세트 주문시 : 3,000원 추가")
print("    (세트는 밥과 반찬이 추가됩니다.)")
print("\n" + "=" * 40)

order_price = 0
while 1:
  menu_num = int(input('비빔밥 메뉴를 선택해주세요 : 1, 2, 3 '))
  check = input('세트 주문을 하시겠습니까? 3000원 추가 (y, n) : ')

  order = Order(menu_num)
  order.set_check(check)

  order_price += order.total_price()
  yn = input('계속 주문하시겠습니까? (y, n) ')
  if yn == 'n':
    print(f'총 금액은 {order_price}원 입니다')
    break

KITA 식당에 오신 것을 환영합니다

========================================

          - 메  뉴 -
    1. 불고기 비빔밥 : 12,000원
    2. 야채 비빔밥 : 8,000원
    3. 전주 비빔밥 : 10,000원

    세트 주문시 : 3,000원 추가
    (세트는 밥과 반찬이 추가됩니다.)

========================================
비빔밥 메뉴를 선택해주세요 : 1, 2, 3 1
세트 주문을 하시겠습니까? 3000원 추가 (y, n) : n
계속 주문하시겠습니까? (y, n) n
총 금액은 12000원 입니다

In [45]:
def display_menu():
    print("\nKITA 식당에 오신 것을 환영합니다")
    print("\n" + "=" * 40)
    print("\n          - 메  뉴 -")
    print("    1. 불고기 비빔밥 : 12,000원")
    print("    2. 야채 비빔밥 : 8,000원")
    print("    3. 전주 비빔밥 : 10,000원")
    print("\n    세트 주문시 : 3,000원 추가")
    print("    (세트는 밥과 반찬이 추가됩니다.)")
    print("\n" + "=" * 40)


def order():
    # 메뉴별 가격을 설정한다.
    prices = {1: 12000, 2: 8000, 3: 10000}

    # 사용자로부터 메뉴 선택을 받는다.
    menu_choice = int(input("\n비빔밥 메뉴를 선택해 주세요. 1, 2, 3 >>> "))

    # 사용자가 선택한 메뉴의 가격을 가져온다.
    total_price = prices.get(menu_choice, 0)

    # 세트 주문 여부를 확인한다.
    set_order = input("세트 주문을 하시겠습니까? 3,000원 추가. y, n >>> ").lower()
    if set_order == 'y':
        total_price += 3000

    print(f"총 금액은 {total_price}원 입니다.")


def main():
    while True:
        display_menu()
        order()

        # 계속 주문하거나 종료 여부를 확인한다.
        continue_ordering = input("\n다시 주문하시겠습니까? (주문: enter, 종료: '종료' 입력) >>> ")
        if continue_ordering == '종료':
            break

    print("\n감사합니다! 다음에 또 방문해 주세요.")


if __name__ == "__main__":
    main()

KITA 식당에 오신 것을 환영합니다

========================================

          - 메  뉴 -
    1. 불고기 비빔밥 : 12,000원
    2. 야채 비빔밥 : 8,000원
    3. 전주 비빔밥 : 10,000원

    세트 주문시 : 3,000원 추가
    (세트는 밥과 반찬이 추가됩니다.)

========================================

비빔밥 메뉴를 선택해 주세요. 1, 2, 3 >>> 1
세트 주문을 하시겠습니까? 3,000원 추가. y, n >>> y
총 금액은 15000원 입니다.

다시 주문하시겠습니까? (주문: enter, 종료: '종료' 입력) >>>

KITA 식당에 오신 것을 환영합니다

========================================

          - 메  뉴 -
    1. 불고기 비빔밥 : 12,000원
    2. 야채 비빔밥 : 8,000원
    3. 전주 비빔밥 : 10,000원

    세트 주문시 : 3,000원 추가
    (세트는 밥과 반찬이 추가됩니다.)

========================================

비빔밥 메뉴를 선택해 주세요. 1, 2, 3 >>> 2
세트 주문을 하시겠습니까? 3,000원 추가. y, n >>> n
총 금액은 8000원 입니다.

다시 주문하시겠습니까? (주문: enter, 종료: '종료' 입력) >>> 종료

감사합니다! 다음에 또 방문해 주세요.

`if __name__ == "__main__": `

- 현재 모듈이 직접 실행되는지 또는 다른 파일에 의해 임포트되어 사용되는지를 판단할 때 사용.
- 만약 모듈이 직접 실행되면 __name__ 변수의 값은 "__main__"이 되고, 모듈이 다른 파일에서 임포트되어 사용될 경우 __name__은 모듈의 이름이 된다.

In [12]:
# mymodule.py 파일의 내용을 문자열로 정의합니다.
# if __name__ == '__main__': 은 직접 실행할 경우만 True, 모듈 임포트 경우는 False
module_content = """
def print_hello():
    print("Hello from mymodule!")

def print_goodbye():
    print("Goodbye from mymodule!")

if __name__ == '__main__':
  print(This code runs only when mymodule.py is executed directly.')
  print_hello()
  print_goodbye()
"""

# 파일을 쓰기 모드로 열고, 내용을 작성한 뒤 파일을 닫습니다.
with open("mymodule.py", "w") as file:
    file.write(module_content)

# 파일이 저장된 위치 확인 (일반적으로 Colab의 현재 작업 디렉토리)
!ls

drive  mymodule.py  __pycache__  sample_data

In [14]:
import mymodule

mymodule.print_hello()
mymodule.print_goodbye()

Q. 여러개의 음식을 동시에 주문할 수 있는 주문 시스템을 작성하세요

In [30]:
class Food:
  def __init__(self, food):
    self.name = food['name']
    self.price = food['price']

class Order(Food):
  def __init__(self, food, setted):
    super().__init__(food)
    self.setted = setted

  def total_price(self):
    self.total_price = self.price + self.setted

    return self.total_price

def order_menu(foods):
  num = int(input('비빔밥 메뉴를 선택해주세요 : 1, 2, 3 '))
  st = next((3000 for i in [input('세트 주문을 하시겠습니까? (y, n) : ')] if i == 'y'), 0)

  return foods[num], st



foods = {1: {'name' : '불고기비빔밥', 'price' : 12000},
         2: {'name' : '야채비빔밥', 'price' : 8000},
         3: {'name' : '전주비빔밥', 'price': 10000}}

food, setted = order_menu(foods)
order = Order(food, setted)
total_price = order.total_price()

print(f'총 가격은 {total_price}원 입니다')

while 1:
  #cont = next((True for i in [input('계속 주문하시겠습니까? (enter:계속 주문 / n:종료)')] if i == ''), False)

  # lambda 함수로 간단한 함수 예제 작성. 매개 변수가 없어도 가능하다.
  cont = lambda : True if input('계속 주문하시겠습니까? (enter:계속 주문 / n:종료)') == '' else False
  if cont():
    food, setted = order_menu(foods)
    order = Order(food, setted)
    total_price += order.total_price()
  else:
    print(f'주문완료. 총 가격은 {total_price}원 입니다.')
    break

비빔밥 메뉴를 선택해주세요 : 1, 2, 3 2
세트 주문을 하시겠습니까? (y, n) : ㅛ
총 가격은 8000원 입니다
계속 주문하시겠습니까? (enter:계속 주문 / n:종료)
비빔밥 메뉴를 선택해주세요 : 1, 2, 3 1
세트 주문을 하시겠습니까? (y, n) : y
계속 주문하시겠습니까? (enter:계속 주문 / n:종료)n
주문완료. 총 가격은 23000원 입니다.