## AI기반 챗봇 및 OCR 개발 전문가 과정

#### 교과목명 : m2_programming

- 평가일 : 24.05.14
- 성명 :
- 점수 :

※ 문제당 2점으로 채점 60점 + 자유 프로그램 40점

#### 1. numbers 리스트에서 15, 20, 25를 출력하세요.(for문과 if 조건 사용 필수)  
numbers = [5, 15, 6, 20, 7, 25]

In [11]:
numbers = [5, 15, 6, 20, 7, 25]
for i in numbers:
  if i >=15 :
    print(i,end=',')

15,20,25,

#### 2. 아래 list_input에 대해서 주어진 사용자 함수를 일괄적으로 적용할 수 있는 2개의 내장함수를 활용하여 [1, 4, 9, 16, 25], [1, 2]를 출력하는 코드를 작성하세요.

In [24]:
# 사용자 함수를 선언합니다.
def power(item):
    return item * item
def under_3(item):
    return item < 3

# 변수를 선언합니다.
list_input = [1, 2, 3, 4, 5]

list_power = list(map(power, list_input))

list_under_3 = list(filter(under_3, list_input))
print(f'{list_power},{list_under_3}')

[1, 4, 9, 16, 25],[1, 2]

#### 3. 정수를 입력하면 짝수 홀수 여부를 반환해주는 프로그램을 작성하세요.(정수를 입력하지 않는 경우에 대해서 예외처리 수행)

In [35]:
def odd_num(num):
    try:
      num = int(input('정수를 입력해주세요: '))
      if num % 2 == 0:
        return '짝수입니다.'
      else:
        return '홀수입니다.'
    except ValueError:
      return '올바른 정수를 입력해주세요.'
print(odd_num(num))

정수를 입력해주세요: 3
홀수입니다.

#### 4. a의 b제곱에서 a x b를 뺀 수를 a, b가 아래와 같이 주어졌을 때 람다 함수를 이용해서 구하세요.
a = 2, b = 5 \
a= 5, b = 2

In [38]:
num = lambda a,b : a ** b - (a*b)

num1 = num(2,5)
print('a=2,b=5:',num1)

num2 = num(5, 2)
print('a=5,b=2:',num2)

a=2,b=5: 22
a=5,b=2: 15

#### 5. 정수를 입력하면 천 단위로 콤마로 구분하여 출력하세요.(정수가 아닌 경우 '정수가 아닙니다.'를 출력)

예시

정수를 입력하세요: 123456789\
123,456,789

In [39]:
def plus_comma():
    try:
      num = int(input('정수를 입력하세요: '))
      return format(num,",d")
    except ValueError:
     return '정수가 아닙니다.'

num1 = plus_comma()
print(num1)

정수를 입력하세요: 674657684657
674,657,684,657

#### 6. example_list = ["요소A", "요소B", "요소C"]를 파이썬 내장함수를 이용하여 아래와 같이 출력하세요.
0번째 요소는 요소A입니다.\
1번째 요소는 요소B입니다.\
2번째 요소는 요소C입니다.

In [46]:
example_list = ["요소A", "요소B", "요소C"]
print(f'0번째 요소는 {example_list[0]}입니다.\n1번째 요소는 {example_list[1]}입니다.\n2번째 요소는 {example_list[2]}입니다.')

0번째 요소는 요소A입니다.
1번째 요소는 요소B입니다.
2번째 요소는 요소C입니다.

#### 7. 97을 40으로 나눈 몫과 나머지를 내장함수를 이용하여 구하세요.(튜플로 출력 필수)

In [47]:
num = divmod(97, 40)
print(num)

(2, 17)

#### 8. list_number = [52, 273, 32, 72, 100]로 변수 선언하고 정수를 입력하면 그 정수 인덱스와 리스트에서 해당하는 값을 출력하는 프로그램을 작성하세요. 단, 모든 예외처리를 수행하며 특히 ValueError와 IndexError는 별도 구분해서 예외처리 한 후 '예외처리 완료'를 마지막으로 출력하세요.

- 4 입력시 \
정수 입력> 4 \
4번째 요소: 100
예외 처리 완료

- 문자 입력시 \
정수 입력> 가 \
정수를 입력해 주세요!
예외 처리 완료

- 5 입력시 \
정수 입력> 5 \
리스트의 인덱스를 벗어났어요!
예외 처리 완료

In [54]:
list_number = [52, 273, 32, 72, 100]

try:
    index_num = int(input('정수 입력> '))
    num = list_number[index_num]
    print(f'{index_num}번째 요소: {num}')
except ValueError:
    print('정수를 입력해 주세요!')
except IndexError:
    print('리스트의 인덱스를 벗어났어요!')
finally:
    print('예외 처리 완료')

정수 입력> 4
4번째 요소: 100
예외 처리 완료

#### 9. 사용자로부터 서로 다른 숫자 두 개를 입력받고 첫 번째 와 두 번째중 큰 숫자를 구하는 프로그램을 수행하세요.

In [56]:
print('서로 다른 두개의 숫자를 입력해주세요')
num1=int(input('첫번째 숫자를 입력해주세요:'))
num2=int(input('두번째 숫자를 입력해주세요:'))
if num1 > num2:
  print(f'큰 숫자:{num1}')
elif num1 < num2:
  print(f'큰 숫자:{num2}')
else:
  print('두 수가 같습니다.')

서로 다른 두개의 숫자를 입력해주세요
첫번째 숫자를 입력해주세요:789879
두번째 숫자를 입력해주세요:70
큰 숫자:789879

#### 10. 1부터 100까지 아래와 같은 방식으로 2개의 수를 곱해서 가장 큰 수를 구하세요.

 1 * 99 ...99 * 1

In [61]:
num = 0
for i in range(1, 51):
    num1 = i * (101 - i)
    if num1 > num:
        num = num1


print("가장 큰 곱:", num)

가장 큰 곱: 2550

#### 11. 현재 시간을 년-월-일 시:분:초로 출력하세요.

In [64]:
from datetime import datetime

datetime_now = datetime.now()

now_time = datetime_now.strftime("%Y-%m-%d %H:%M:%S")

print("현재 시간:", now_time)

현재 시간: 2024-05-14 06:05:57

#### 12. 1에서 백만까지 더하는데 걸리는 프로그램 실행 시간을 밀리초(ms) 단위로 구하세요.(1000 밀리초(ms) = 1초)

In [67]:
import time
start_time = time.time()

total = 0
for i in range(1, 1000001):
    total += i
end_time = time.time()

time_ms = (end_time - start_time) * 1000

print(f'프로그램 실행 시간:{time_ms}ms')

프로그램 실행 시간:131.2999725341797ms

#### 13. [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 'a', 'b', 'c']에서 9와 'a'를 삭제 후 리스트로 출력하세요

In [71]:
list1=[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 'a', 'b', 'c']
del(list1[9],list1[-3])
print(list1)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 'b', 'c']

#### 14. 500 ~ 1000사이의 정수 중 5와 7의 공배수의 합을 구하세요

In [72]:
total_sum = 0
for num in range(500, 1001):
    if num % 5 == 0 and num % 7 == 0:
        total_sum += num
print('500부터 1000까지의 정수 중 5와 7의 공배수의 합:', total_sum)

500부터 1000까지의 정수 중 5와 7의 공배수의 합: 10535

#### 15. [    ]을 채워서 아래와 같이 출력하세요.

In [76]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9]
output = [[], [], []]

for number in numbers:
    index = number % 3
    output[index].append(number)

print(output)

[[3, 6, 9], [1, 4, 7], [2, 5, 8]]

####  16. numbers 내부에 들어 있는 숫자가 몇 번 등장하는지를 출력하는 코드를 작성하세요.

답안 예시:\
{3: 4, 6: 2, 5: 2, 8: 2, 2: 2, 9: 2, 7: 2, 4: 2}

#### 17. 클래스 Country를 완성하여 아래와 같이 출력하세요.

In [84]:
class Country:
  def __init__(self,name,total_people,capital):
    self.name = name
    self.total_people = total_people
    self.capital = capital

  def desc(self):
        print(f'{self.name}의 인구는, {self.total_people}만명이며, 수도는 {self.capital}입니다.')


class Korea(Country):

    def desc1(self,gnp):
        self.gnp = gnp
        print('1인당 gnp는 USD %d만입니다.' %self.gnp)

obj = Korea('한국',5,'서울')
obj.desc()
obj.desc1(3)

한국의 인구는, 5만명이며, 수도는 서울입니다.
1인당 gnp는 USD 3만입니다.

#### 18. 사칙연산을 수행하는  클래스를 작성하여 객체를 만들고 2개의 정수 10, 5를 입력한 후 연산 결과를  포멧을 이용하여 출력하세요.

In [85]:
class calculator:
    def __init__(self, num1, num2):
        self.num1 = num1
        self.num2 = num2

    def add(self):
        return self.num1 + self.num2

    def sub(self):
        return self.num1 - self.num2

    def mul(self):
        return self.num1 * self.num2

    def div(self):
        if self.num2 != 0:
            return self.num1 / self.num2
        else:
            return "0으로 나눌 수 없습니다."

num = calculator(10, 5)

print(f'덧셈 결과: {num.add()}')
print(f'뺄셈 결과: {num.sub()}')
print(f'곱셈 결과: {num.mul()}')
print(f'나눗셈 결과: {num.div()}')

덧셈 결과: 15
뺄셈 결과: 5
곱셈 결과: 50
나눗셈 결과: 2.0

#### 19. 올해 경과된 날짜수를 계산하여 출력하세요.

답안 예시:\
오늘은 2024-01-01 이후 127일째 되는 날입니다.

#### 20. 문자열 리스트 states를 아래 [출력]와 같이 전처리하여 출력하세요
`states = ['   Alabama ', 'Georgia!', 'Georgia', 'georgia', 'FlOrIda',
          'south   carolina##', 'West virginia?']`

[출력]\
['Alabama',\
 'Georgia',\
 'Georgia',\
 'Georgia',\
 'Florida',\
 'South Carolina',\
 'West Virginia']

자유 프로그램 수행 결과를 실행하세요